<%- include('../partials/header'); %>
   <title>Create Ticket</title>
</head>
<body class="greenBackground">
  <section class="registerPage vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="card shadow-2-strong"  style="background-color: #f9f6f3c0; border-radius: 1rem;">
            <div class="card-body p-5 text-center">
            <h1> New Ticket </h1><br>
            <form action="/createTicket" method="post">
              <div class="mb-4" style="text-align: center;">
                <input type="text" placeholder="title" name="newTitle"  autocomplete="off"  style="width: 320px;" required >
              </div>
              <div class="mb-4" style="text-align: center;">
                <textarea  placeholder="description" name="newDes" rows="5" cols="35" autocomplete="off" required></textarea>
              </div>
              <div class="mb-4" style="text-align: center;">
                <select name="newUrg" required style="width: 320px;">
                  <optgroup label="Select urgency"> </optgroup>
                  <option value="1high" name="newUrg">high</option>
                  <option value="2medium" name="newUrg">medium</option>
                  <option value="3low" name="newUrg">low</option>
                </select><br>
                </div>
                <div class="mb-4" style="text-align: center;">
                <input type="text " placeholder="created by" name="newCreatedBy" autocomplete="off" style="width: 320px;" required>
                </div>
                <div class="mb-4" style="text-align: center;">
                <input type="text " placeholder="contact" name="newContact" autocomplete="off" style="width: 320px;" required>
                </div>
        <br>
        <button type="submit" class="btn btn-success " style="background-color:#9370db;" > add ticket </button><br><br>
  
          </form>
          <form action="/return" method="post">
            <button type="submit" class="btn btn-success " name="returnBtn" style="background-color:#9370db;" name="returnBtn" value="user"> cancel </button>
            
          </form>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>