<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
   <table style="margin-left: auto; margin-right: auto;">
       <tr>
        <form action="/trigger" method="post">
           <th> 
                Name
                <button type="submit" name="filter" value = "1"> ^ </button>
                <button type="submit" name="filter" value = "3"> ~ </button>

        </th>

        <th> 
            Age 
            <button type="submit" name="filter" value = "2"> ^ </button>
            <button type="submit" name="filter" value = "3"> ~ </button>
        </th>
            </form>
       </tr>
 
       <!-- insert user data from sample DB -->
       <% dataList.forEach( function(user) {  %>
 
           <tr>
               <td> <%= user.name %></td>
               <td> <%= user.age %></td>
               <form action="/delete" method ="post">
                   <td>
                       <button type="submit" name = "deleteUser" value="<%= user._id %>"> x </button>
                   </td>
               </form>
           </tr>
       <% }) %>
   </table>
 
 


   <a href="/logout" role="button">Log Out</a>
  
</body>
</html>
