<%- include('../partials/header'); %>
    <title>Login</title>
</head>

<body>
  <section class="blueGreenMix vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong"  style="background-color: #f9f6f3c0; border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Log in</h3>

              <form action="/login" method="POST">
                <div class="mb-4" style="text-align: left;">
                  <label for="email" class="form-label" > Email </label>
                  <input type="email" name="username" class="form-control form-control-lg" placeholder="john.doe@mail.com"/>
                </div>
              
                <div class="mb-4" style="text-align: left;">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control form-control-lg" placeholder="*******"/>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              </form>

              <div class="mt-4 d-flex justify-content-center pb-4">
                <p class="mb-0 me-2">Don't have an account?</p>
                <a href="/register" role="button"> Create New </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- <h1> Log in </h1>
  <form action="/login" method="POST">

    <label for="email">Email</label>
    <input type="email"  name="username">


    <label for="password">Password</label>
    <input type="password"  name="password">

    <button type="submit" >Login</button>
  </form> -->

  <!-- <h1> Welcome to Tichet :) </h1>

  <a  href="/register" role="button">Register</a>
  <a  href="/login" role="button">Login</a> -->
</body>
</html>