<%- include('../partials/header'); %>

    <title>Register</title>
</head>
<body>
  <section class="registerPage vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong"  style="background-color: #f9f6f3c0; border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Register</h3>

              <form action="/register" method="POST">


                <div class="mb-4" style="text-align: left;">
                  <label for="First Name" class="text-left form-label" > First Name</label>
                  <input type="text" name="first_name" class="form-control form-control-lg" placeholder="First Name"/>
                </div>

                <div class="mb-4" style="text-align: left;">
                  <label for="Last Name" class="text-left form-label" > Last Name</label>
                  <input type="text" name="last_name" class="form-control form-control-lg" placeholder="Last Name"/>
                </div>

                <div class="mb-4" style="text-align: left;">
                  <label for="email" class="text-left form-label" > Email </label>
                  <input type="email" name="username" class="form-control form-control-lg" placeholder="john.doe@mail.com"/>
                </div>
              
                <div class="mb-4" style="text-align: left;">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control form-control-lg" placeholder="*******"/>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
    <!-- <h1> Register </h1>
    <form action="/register" method="POST">
      
          <label for="First Name">First Name</label>
          <input type="text" name="first_name">
      
          <label for="Last Name">Last Name</label>
          <input type="text"  name="last_name">

          <label for="email">Email</label>
          <input type="email" name="username">
      
          <label for="password">Password</label>
          <input type="password"  name="password">

    
        <button type="submit" >Register</button>
      </form> -->
</body>
</html>