/* was login */
.blueBackground {
    background-color: #4673E8;
    background: url("../img/blue.svg") no-repeat center center fixed;
    background-size: cover;
}
/* was register */
.greenBackground{
    background-color: #419F73;
    background: url("../img/green.svg") no-repeat center center fixed; 
    background-size: cover;

}
.greenBackground td,  .greenBackground th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.blueGreenMix {
    background-color: #79C8A3;
    background: url("../img/blueGreen.svg") no-repeat center center fixed; 
    background-size: cover;
}
.logOut{
    text-align: right;
    padding-top: 15px;
    padding-right: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
}
.logOut a{
    color: white;
    font-size:18px;
    background-attachment: fixed;
}
.blueBackground, .greenBackground, .blueGreenMix {
    font-family: 'Lato', cursive;
    font-size: larger;
}
section h3 {
    font-weight: bold;
}